<div class="panel-body">
  <div class="field alpha omega eight columns">
    <%= label_tag "#{param_prefix}_preferred_related", Spree.t(:product) %>
    <%= hidden_field_tag "#{param_prefix}[preferred_related]", promotion_rule.preferred_related, { class: 'product_picker', style: 'width: 100%;' } %>
  </div>
  <br>

  <% if promotion_rule.product.present? %>
    <div class="copayments-form">
      <%= render partial: 'spree/admin/copayment_relations/form', locals: { product: promotion_rule.product } %>
    </div>

    <div class="copayments-container">
      <%= render partial: 'spree/admin/products/copayments_container', locals: { product: promotion_rule.product } %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function () {
    $('.product_picker').productAutocomplete({multiple: false});
  });
</script>
